[package]
name = "form-forge"
version = "0.1.0"
edition = "2024"

[workspace]
members = ["features/sheets/core", "features/sheets/adapters/incoming/web", "features/sheets/adapters/outgoing/storage"]

[workspace.dependencies]
actix-web = "4"

[dependencies]
actix-web.workspace = true
sheets_web = { path = "features/sheets/adapters/incoming/web" }
