openapi: 3.1.0
info:
  title: Form Forge API
  description: A REST API for uploading D&D 5e character sheet PDFs, discovering form fields, and attaching predefined calculation actions. Users map fields to actions (e.g. ability mods, skills, proficiency) to generate dynamic, self-calculating PDFs. No custom JavaScript is required—only safe, declarative actions from a curated catalog.
  license:
    name: MIT
    url: https://opensource.org/license/MIT
  version: 0.1.0
servers:
- url: https://api.formforge.maikbasel.com
  description: Production
- url: https://dev.api.formforge.maikbasel.com
  description: Staging
- url: http://127.0.0.1:8081
  description: Local
paths:
  /dnd5e/action-types:
    get:
      tags:
      - DnD 5e
      summary: List available action types
      description: |-
        Returns metadata for all available calculation action types, including their field roles.

        This endpoint powers the frontend action configuration UI dynamically.
      operationId: listActionTypes
      responses:
        '200':
          description: List of available action types
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ActionTypeMetadataDto'
  /dnd5e/{sheet_id}/actions:
    get:
      tags:
      - DnD 5e
      summary: List attached actions for a sheet
      description: Returns all calculation actions that have been attached to form fields in this sheet.
      operationId: listAttachedActions
      parameters:
      - name: sheet_id
        in: path
        description: ID of the sheet
        required: true
        schema:
          type: string
        example: 123e4567-e89b-12d3-a456-426614174000
      responses:
        '200':
          description: List of attached actions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AttachedActionResponse'
    put:
      tags:
      - DnD 5e
      summary: Attach a calculation action to a sheet
      description: |-
        Attaches a JavaScript calculation script to a target PDF AcroForm field in a DnD 5e character sheet.

        The request body is a JSON object with the action type as the key and field mappings as the value.

        Supported action types: `AbilityModifier`, `SavingThrowModifier`, `SkillModifier`.

        The script is embedded directly in the PDF's AcroForm structure for real-time updates.

        Note: Sending a request targeting the same field will replace the existing script on that field.
      operationId: attachCalculationAction
      parameters:
      - name: sheet_id
        in: path
        description: ID of the uploaded sheet
        required: true
        schema:
          type: string
        example: 123e4567-e89b-12d3-a456-426614174000
      requestBody:
        description: JSON object with the action variant as key and field name mappings as value.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalculationActionSchema'
        required: true
      responses:
        '204':
          description: Calculation script successfully attached.
  /health:
    get:
      tags:
      - Health
      operationId: health_check
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
  /sheets:
    post:
      tags:
      - Sheets
      summary: Upload a form-fillable PDF
      description: "Uploads a form-fillable PDF file. The PDF must satisfy these compatibility rules: \n\n- It must NOT be encrypted.\n- It must contain a Catalog dictionary.\n- It must contain an AcroForm dictionary.\n- It must NOT be an XFA form.\n- The AcroForm must provide a Fields array (interactive form fields).\n- It must NOT be locked via DocMDP permissions.\n\nIf validation passes, returns 201 Created with a Location header pointing to the download URL."
      operationId: uploadSheet
      requestBody:
        description: Multipart form with a single 'sheet' field containing the PDF file.
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UploadSheetRequest'
        required: true
      responses:
        '201':
          description: Sheet uploaded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadSheetResponse'
        '400':
          description: Invalid PDF or request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              examples:
                invalid_filename:
                  summary: Invalid filename
                  value:
                    detail: invalid sheet name
                    status: 400
                    title: Invalid File Name
                    type: /problems/invalid-file-name
                invalid_pdf_header:
                  summary: Invalid PDF file
                  value:
                    detail: invalid PDF header - file is not a PDF
                    status: 400
                    title: Invalid PDF File
                    type: /problems/invalid-pdf-file
                not_supported:
                  summary: PDF sheet is not supported
                  value:
                    detail: PDF sheet is encrypted
                    status: 400
                    title: Invalid PDF File
                    type: /problems/invalid-pdf-file
        '500':
          description: Unexpected server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              examples:
                server_error:
                  summary: Internal server error
                  value:
                    status: 500
                    title: Internal Server Error
                    type: about:blank
  /sheets/{sheet_id}:
    get:
      tags:
      - Sheets
      summary: Get download URL for PDF sheet
      description: Returns a pre-signed URL for downloading a previously uploaded PDF sheet. The sheet may have been enhanced with calculation scripts attached to its AcroForm fields, making it dynamic and self-calculating. The URL is valid for 5 minutes and includes response headers for content disposition and type.
      operationId: downloadSheet
      parameters:
      - name: sheet_id
        in: path
        description: ID of the sheet to download
        required: true
        schema:
          type: string
        example: 123e4567-e89b-12d3-a456-426614174000
      responses:
        '200':
          description: Download URL returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DownloadSheetResponse'
        '404':
          description: Sheet not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              examples:
                sheet_not_found:
                  summary: Sheet does not exist
                  value:
                    detail: 'sheet not found: 123e4567-e89b-12d3-a456-426614174000'
                    status: 404
                    title: Sheet Not Found
                    type: /problems/sheet-not-found
  /sheets/{sheet_id}/fields:
    get:
      tags:
      - Sheets
      summary: Lists sheet form fields
      description: Lists interactive PDF AcroForm fields that support calculation actions. Only text (`/Tx`), choice (`/Ch`) fields with widget annotations are returned.
      operationId: getSheetFormFields
      parameters:
      - name: sheet_id
        in: path
        description: ID of the uploaded sheet
        required: true
        schema:
          type: string
        example: 123e4567-e89b-12d3-a456-426614174000
      responses:
        '200':
          description: List of interactive PDF AcroForm fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSheetFieldsResponse'
        '404':
          description: Sheet not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              examples:
                sheet_not_found:
                  summary: Sheet does not exist
                  value:
                    detail: 'sheet not found: 123e4567-e89b-12d3-a456-426614174000'
                    status: 404
                    title: Sheet Not Found
                    type: /problems/sheet-not-found
components:
  schemas:
    ActionTypeMetadataDto:
      type: object
      required:
      - id
      - actionLabel
      - roles
      properties:
        actionLabel:
          type: string
        id:
          type: string
        roles:
          type: array
          items:
            $ref: '#/components/schemas/FieldRoleMetadataDto'
    AttachedActionResponse:
      type: object
      required:
      - id
      - actionType
      - targetField
      - mapping
      properties:
        actionType:
          type: string
        id:
          type: string
        mapping: {}
        targetField:
          type: string
    CalculationActionSchema:
      oneOf:
      - type: object
        required:
        - AbilityModifier
        properties:
          AbilityModifier:
            type: object
            required:
            - abilityScoreFieldName
            - abilityModifierFieldName
            properties:
              abilityModifierFieldName:
                type: string
              abilityScoreFieldName:
                type: string
      - type: object
        required:
        - SavingThrowModifier
        properties:
          SavingThrowModifier:
            type: object
            required:
            - abilityModifierFieldName
            - proficiencyFieldName
            - proficiencyBonusFieldName
            - savingThrowModifierFieldName
            properties:
              abilityModifierFieldName:
                type: string
              proficiencyBonusFieldName:
                type: string
              proficiencyFieldName:
                type: string
              savingThrowModifierFieldName:
                type: string
      - type: object
        required:
        - SkillModifier
        properties:
          SkillModifier:
            type: object
            required:
            - abilityModifierFieldName
            - proficiencyFieldName
            - proficiencyBonusFieldName
            - skillModifierFieldName
            properties:
              abilityModifierFieldName:
                type: string
              expertiseFieldName:
                type:
                - string
                - 'null'
              halfProfFieldName:
                type:
                - string
                - 'null'
              proficiencyBonusFieldName:
                type: string
              proficiencyFieldName:
                type: string
              skillModifierFieldName:
                type: string
      description: |-
        Schema wrapper for utoipa — represents the externally-tagged `CalculationAction` enum.

        utoipa cannot derive `ToSchema` for serde externally-tagged enums with `rename_all_fields`,
        so we define the schema manually to match the serde output.
      example:
        AbilityModifier:
          abilityModifierFieldName: STR_mod
          abilityScoreFieldName: STR
    DownloadSheetResponse:
      type: object
      required:
      - url
      - filename
      properties:
        filename:
          type: string
          description: Original filename of the PDF.
        url:
          type: string
          description: Pre-signed URL for direct S3 download (valid for 5 minutes).
    FieldRoleMetadataDto:
      type: object
      required:
      - key
      - required
      - isTarget
      properties:
        isTarget:
          type: boolean
        key:
          type: string
        required:
          type: boolean
    HealthResponse:
      type: object
      description: Health check response
      required:
      - status
      - version
      properties:
        status:
          type: string
        version:
          type: string
    ListSheetFieldsResponse:
      type: object
      required:
      - fields
      properties:
        fields:
          type: array
          items:
            $ref: '#/components/schemas/SheetFieldDto'
          description: List of interactive PDF AcroForm fields.
    ProblemDetails:
      type: object
      description: RFC 9457 Problem Details response body.
      required:
      - type
      - title
      - status
      properties:
        detail:
          type:
          - string
          - 'null'
          description: A human-readable explanation specific to this occurrence.
        instance:
          type:
          - string
          - 'null'
          description: A URI reference that identifies the specific occurrence.
        status:
          type: integer
          format: int32
          description: The HTTP status code.
          minimum: 0
        title:
          type: string
          description: A short, human-readable summary of the problem type.
        type:
          type: string
          description: A URI reference that identifies the problem type.
    SheetFieldDto:
      type: object
      required:
      - name
      properties:
        name:
          type: string
          description: Name of the AcroForm field.
    UploadSheetRequest:
      type: object
      required:
      - sheet
      properties:
        sheet:
          type: string
          format: binary
          description: 'The PDF file to upload. Max size: 5MB.'
          contentMediaType: application/pdf
    UploadSheetResponse:
      type: object
      required:
      - id
      properties:
        id:
          type: string
          format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
tags:
- name: Health
  description: Health check endpoint
- name: Sheets
  description: Operations related to form-fillable PDF sheets
- name: DnD 5e
  description: Operations related to attaching calculation scripts to D&D 5e character sheet's AcroForm fields
