[package]
name = "common"
version = "0.1.0"
edition = "2024"

[dependencies]
uuid = { version = "1.18.0", features = ["v4"] }
anyhow.workspace = true
tracing.workspace = true
tracing-subscriber.workspace = true
