[package]
name = "common"
version = "0.1.0"
edition = "2024"

[dependencies]
uuid.workspace = true
anyhow.workspace = true
tracing.workspace = true
tracing-subscriber.workspace = true

[dev-dependencies]
pretty_assertions.workspace = true