[package]
name = "sheets_core"
version = "0.1.0"
edition = "2024"

[dependencies]
async-trait.workspace = true
thiserror.workspace = true
anyhow.workspace = true
uuid = { version = "1.18.1", features = ["v4"] }
